@font-face {
    font-family: 'Gidole';
    src: url('../fonts/Gidole.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea:focus, input:focus{
    outline: none;
}

input {
    border: none
}
