/*globals*/
body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea:focus, input:focus {
    outline: none;
}

input {
    border: none
}

/*have to do this because radium doesn't work with react-flip-move*/
@media (min-width: 1200px) {
    .suggestionsContainer {
        flex-direction: row !important;
    }
}

/*this is for the stepper*/
span svg text {
    fill: #BC4432
}
